.swiper-container {
  width: 100%;
  padding: 16px !important;
  overflow: unset !important;
  overflow-x: clip !important;
}

.swiper-pagination {
  position: initial !important;
}

.swiper-slide {
  height: 100%;
}

.swiper-slide:hover {
  transform: scale(1.05);
  transition: all 0.5s 0s ease;
}

.navigation-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navigation-button {
  display: inline-block;
  margin: 8px;
}

.navigation-button:hover {
  cursor: pointer;
}
